:root {
  --main-color: #757575;
  --efect-color: #4d5ae5;
  --h-color: #2e2f42;
  --background-color: #2e2f42;
  --primari-bg-color: #ffffff;
  --but-color: #f4f4fd;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
.non {
  display: none;
}
.displey-non {
  display: none;
}

.conteiner {
  /* box-sizing: border-box; */
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
  display: block;
}

.conteiner-content {
  box-sizing: content-box;
}

.conteiner-flex {
  max-width: 1158px;
  display: flex;
  align-items: center;
}
/* .conteiner-space-between {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  align-items: center;
} */

/* .conteiner-inline-flex {
  display: inline-flex;
} */

.conteiner-address {
  text-align: right;
}

.list {
  /* text-align: center; */
  /* margin: auto 156px; */
  /* margin-bottom: 120px; */
  list-style: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  /* padding: 25px 156px; */
  display: block;
}
/* text */
.text {
  line-height: 1.71;
  font-size: 16px;
}
.post-adres .text {
  font-size: 14px;
}

.nav {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.12;
  /* padding: 25px 156px; */
}

.title,
.subtitle,
.logo,
.button-hero {
  /* width: 169px;
  height: 56px; */
  color: var(--h-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.subtitle {
  font-size: 20px;
  line-height: 1.14;
}

.subtitle-team {
  color: var(--h-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.9;
  text-align: center;
  padding-top: 32px;
}

.title-carts {
  font-size: 18px;
  line-height: 2;
}

.carts-text {
  font-size: 16px;
  line-height: 1.9;
  padding-bottom: 32px;
}

.team-title {
  text-align: center;
  padding-bottom: 72px;
}
.team-carts:nth-child(1) {
  margin-left: 0;
}
.team-carts {
  margin-left: 24px;
  display: inline-block;
}

.headline.team,
.team-carts,
.team.title {
  text-align: center;
  background-color: var(--primari-bg-color);
}

.subtitle.features {
  text-transform: uppercase;
  font-weight: 600;
}
.features {
  padding: 120px 0;
  align-items: center;
}
.div-f {
  /* padding: 120px 156px; */
}

.hero {
  text-transform: uppercase;
  background-color: var(--background-color);
  font-size: 44px;
  text-align: center;
  font-weight: 900;
  color: var(--primari-bg-color);
  letter-spacing: 0.06em;
  line-height: 1.36;
  padding: 188px 0;
}

/* .conteiner-her{
  margin: 188px auto;
} */
/* button */

.button,
.filter {
  cursor: pointer;
  background-color: var(--but-color);
  color: var(--h-color);
  font-family: "Roboto", sans-serif;
  border: 0;
  border-radius: 4px;
  font-family: "Roboto";
}

.button-hero {
  font-family: inherit;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  background-color: var(--efect-color);
  color: var(--primari-bg-color);
  padding: 16px 32px;
}

.button-hero:hover,
.button-hero:focus {
  font-size: 16px;
  cursor: pointer;
  background-color: #404bbf;
}

/* link */

.link,
.link-filter {
  text-decoration: none;
  color: var(--background-color);
  line-height: 2;
}

.features-content {
  /* width: 270px;
  height: 101px; */
  padding-right: 24px;
}
.features-content:nth-last-child(1) {
  padding-right: 0;
}

.filter-carts {
}

.list-carts {
  text-align: center;
  box-sizing: content-box;
  width: 264px;
  /* height: 368px; */
}

.list-carts + .list-carts {
  margin-left: 24px;
}

.title-hero {
  display: inline-block;
  align-items: center;
  /* padding: 188px 0; */
}

.filter-conteiner {
  display: inline-block;
  align-items: center;
}

.footer-text {
  color: #f4f4fd;
  pading-top: 12px;
}

.out-nav {
  margin-right: 40px;
}

.img-work {
  padding-right: 24px;
}
.img-work:nth-last-child(1) {
  padding-right: 0;
}

.title-work {
  text-align: center;
  padding-bottom: 72px;
  /* padding-top: 94px;
  margin-bottom: 50px; */
}

.section-work {
  padding: 120px 0;
  align-items: center;
}

/* .section-team {
  padding-bottom: 120px;
} */

.general-nav {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link + .nav-link {
  margin-left: 50px;
  /* background-color: aqua; */
}

.list-filter {
  display: ;
  margin-top: 56px;
  align-items: baseline;
  padding: 94px auto 50px;
  margin-right: 8px;
}

.carts-filter {
  background-color: var(--primari-bg-color);
  flex-basis: 370px;
  border: 1px solid #e7e9fc;
}
.carts-filter {
  margin-left: 24px;
  margin-bottom: 48px;
}
.carts-filter:nth-child(1) {
  margin-left: 0;
}
.contact {
  margin-left: auto;
}

.contact .link {
  color: var(--main-color);
}

.link:hover,
.link:focus {
  color: var(--efect-color);
}
.logo {
  margin-right: 76px;
  /* margin-top: 24px;
  margin-bottom: 25px; */
}
.link.logo {
  /* margin-right: 93px; */

  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  color: var(--efect-color);
}

.footer {
  /* margin: 100px auto; */
  font-weight: 400;
  font-size: 14px;
  background-color: var(--background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.address {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
}

.post-adres {
  color: var(--primari-bg-color);
}

.studio {
  color: var(--primari-bg-color);
}
.filter-list {
  /* width: 586px; */
  text-align: container;
  padding-top: 96px;
  padding-bottom: 72px;
  list-style: none;
  justify-content: center;
}

.filter {
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--but-color);
  color: var(--h-color);
  padding: 12px 24px;
  margin-left: 24px;
}
.filter:nth-child(0) {
  margin-left: 0;
}

.filter:hover,
.filter:focus {
  background-color: var(--efect-color);
  color: var(--primari-bg-color);
}
/* asdads */
.link.current {
  color: var(--efect-color);
}

.team {
  background-color: var(--but-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.filter-main {
  padding-bottom: 120px;
}
